body {
  margin-bottom: 5%;
  background-color: #d2d2d2;
  font-family: 'Roboto', sans-serif !important;
}
footer {
  background-color: #0C141E;
}
nav {
  background-color: #1A2D44;
}
nav .navbar-nav li a {
  color: white !important;
}
nav .navbar-nav li a:hover {
  color: danger !important;
}